{{#contentFor 'head'}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css"
    integrity="sha512-eD3SR/R7bcJ9YJeaUe7KX8u8naADgalpY/oNJ6AHvp1ODHF3iR8V9W4UgU611SD/jI0GsFbijyDBAzSOg+n+iQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{{/contentFor}}

<nav class='navbar col-md-2 col-sm-2 col-xs-12'>Đây là navbar</nav>

<div class='col-md-6 col-sm-6 col-xs-12'>
    <div id='map' style='height: 600px;'></div>
</div>

<form class='col-md-3 col-sm-3 col-xs-12 needs-validation' action='/cinemas/create' method='POST'>
    <div>
        <label>Nhà cung cấp</label>
        <select class='form-select' id='supplier' name='supplier' required>
            <option selected disabled value=''>Chọn nhà cung cấp</option>
            {{#each suppliers}}
            <option value='{{this._id}}'>{{this.name}}</option>
            {{/each}}
        </select>
        <div class='invalid-feedback'>
            Vui lòng chọn nhà cung cấp
        </div>
    </div>
    <div>
        <label>Tên rạp chiếu</label>
        <input type='text' class='form-control' name='name' placeholder='' required />
    </div>
    <div>
        <label>Địa chỉ</label>
        <input type='text' class='form-control' name='address' placeholder='' required />
    </div>
    <div>
        {{>district}}
    </div>
    <div>
        <label>Hotline</label>
        <input type='text' class='form-control' name='hotline' placeholder='' />
    </div>
    <div>
        <label>Vĩ độ</label>
        <input type='text' class='form-control' id='lat' name='lat' placeholder='' required />
    </div>
    <div>
        <label>Kinh độ</label>
        <input type='text' class='form-control' id='lng' name='lng' placeholder='' required />
    </div>

    <button type='submit' class='btn btn-primary'>Tạo mới</button>
</form>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"
    integrity="sha512-FW2A4pYfHjQKc2ATccIPeCaQpgSQE1pMrEsZqfHNohWKqooGsMYCo3WOJ9ZtZRzikxtMAJft+Kz0Lybli0cbxQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const mymap = L.map('map').setView(
        [21.02988144294546, 105.80167329310144],
        12
    );

    //Layer maps
    const googleHybrid = L.tileLayer(
        'http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',
        {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        },
    ).addTo(mymap);

    const googleStreets = L.tileLayer(
        'http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',
        {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        },
    );

    const googleSat = L.tileLayer(
        'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',
        {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        },
    );

    const googleTerrain = L.tileLayer(
        'http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',
        {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        },
    );

    const openStreetMap = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution:
                'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
        },
    );

    const baseLayers = {
        'Google Hybrid': googleHybrid,
        'Google Streets': googleStreets,
        'Google Sat': googleSat,
        'Google Terrain': googleTerrain,
        'Open street map ': openStreetMap,
    };

    L.control.layers(baseLayers).addTo(mymap);

    //Lấy vị trí người dùng chọn khi click trên map
    const latElement = document.querySelector('#lat');
    const lngElement = document.querySelector('#lng');

    (function () {
        const lat = latElement.value;
        const lng = lngElement.value;
        let marker = L.marker([lat, lng], {
            draggable: true,
        });

        marker.addTo(mymap);

        mymap.on('click', function (e) {
            marker.setLatLng(e.latlng);
            latElement.value = e.latlng.lat;
            lngElement.value = e.latlng.lng;
        });

        marker.on('dragend', function (e) {
            const newLatLng = marker.getLatLng();
            console.log('New marker position:', newLatLng);
            latElement.value = newLatLng.lat;
            lngElement.value = newLatLng.lng;
        });
    })();

    // mymap.on('click', function (e) {
    //     document.querySelector('#lat').value = e.latlng.lat;
    //     document.querySelector('#lng').value = e.latlng.lng;
    //     let new_cinema = L.marker([e.latlng.lat, e.latlng.lng]);
    //     new_cinema.addTo(mymap);
    // });

    // L.Routing.control({
    //     waypoints: [
    //         L.latLng(21.052588031010032, 105.78038520356131),
    //         L.latLng(21.1704057729197, 105.66035950236255)
    //     ]
    // }).addTo(map);
</script>

<script>
    (function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>