<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Trang quản lý</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Trang quản lý</a>
                </li>

                <li><i class="bx bx-chevron-right"></i></li>
                <li>
                    <a class="active" href="">Quản lý rạp chiếu phim</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>{{title}}</h3>
                <div class="pull-right"><a href="/cinemas/create" class="btn btn-primary">Tạo rạp chiếu phim mới</a>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Tên rạp chiếu phim</th>
                        <th>Địa chỉ</th>
                        <th>Quận/Huyện</th>
                        <th>Hotline</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cinemas}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.district}}</td>
                        <td>{{this.hotline}}</td>
                        <td>
                            <a href="/cinemas/update/{{this._id}}">
                                <lord-icon src="https://cdn.lordicon.com/puvaffet.json" trigger="hover" cstroke="75"
                                    style="width:40px;height:40px">
                                </lord-icon>
                            </a>
                        </td>
                        <td>
                            <form action="/cinemas/delete/{{this._id}}?_method=DELETE" method="post">
                                <button type="submit"><lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                                        trigger="hover" colors="primary:#121331,secondary:#e83a30" stroke="75"
                                        style="width:40px;height:40px">
                                    </lord-icon>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->