{{#contentFor 'head'}}
<!-- CSS cdn -->
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<!-- leaflet-routing-machine -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css"
    integrity="sha512-eD3SR/R7bcJ9YJeaUe7KX8u8naADgalpY/oNJ6AHvp1ODHF3iR8V9W4UgU611SD/jI0GsFbijyDBAzSOg+n+iQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- leaflet.locatecontrol -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<!-- boxicons -->
<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />

{{/contentFor}}

{{>header}}

<main class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <h1>Tất cả rạp chiếu phim</h1>
        </div>

        <form action="/cinemas/search" method="GET" class="col-md-4 col-sm-4 mb-3 search-cinema">
            <label>Hệ thống rạp</label>
            <select id="supplier" name="supplier" class="form-control">
                <option value="">Tất cả</option>
                {{#each suppliers}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>

            {{>district}}

            <label>Tìm rạp</label>
            <input type="text" name="name" class="form-control" placeholder="Nhập tên rạp chiếu phim" />

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>

        <div class="col-md-8 col-sm-8">
            <div id="map"></div>
        </div>
    </div>
</main>

{{>footer}}

<!-- CDN Script -->
<!-- ajax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
<!-- leaflet-routing-machine -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"
    integrity="sha512-FW2A4pYfHjQKc2ATccIPeCaQpgSQE1pMrEsZqfHNohWKqooGsMYCo3WOJ9ZtZRzikxtMAJft+Kz0Lybli0cbxQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- leaflet.locatecontrol -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
    charset="utf-8"></script>

<script src="/js/setViewMap.js"></script>