{{#contentFor 'head'}}
<link rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css'
    integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=='
    crossorigin='' />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js'
    integrity='sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=='
    crossorigin=''></script>
{{/contentFor}}

<nav class='navbar col-md-2 col-sm-2 col-xs-12'>Đây là navbar</nav>

<div class='col-md-6 col-sm-6 col-xs-12'>
    <div id='map' style='height: 600px;'></div>
</div>

<form class='col-md-3 col-sm-3 col-xs-12 needs-validation' action='/cinemas/create' method='POST'>
    <div>
        <label>Nhà cung cấp</label>
        <select class='form-select' id='supplier' name='supplier' required>
            <option selected disabled value=''>Chọn nhà cung cấp</option>
            {{#each suppliers}}
            <option value='{{this._id}}'>{{this.name}}</option>
            {{/each}}
        </select>
        <div class='invalid-feedback'>
            Vui lòng chọn nhà cung cấp
        </div>
    </div>
    <div>
        <label>Tên rạp chiếu</label>
        <input type='text' class='form-control' name='name' placeholder='' required />
    </div>
    <div>
        <label>Địa chỉ</label>
        <input type='text' class='form-control' name='address' placeholder='' required />
    </div>
    <div>
        {{>district}}
    </div>
    <div>
        <label>Hotline</label>
        <input type='text' class='form-control' name='hotline' placeholder='' />
    </div>
    <div>
        <label>Vĩ độ</label>
        <input type='text' class='form-control' id='lat' name='lat' placeholder='' required />
    </div>
    <div>
        <label>Kinh độ</label>
        <input type='text' class='form-control' id='lng' name='lng' placeholder='' required />
    </div>

    <button type='submit' class='btn btn-primary'>Tạo mới</button>
</form>

<script>
    const mymap = L.map('map').setView(
        [21.02988144294546, 105.80167329310144],
        12
    );
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(mymap);

    mymap.on('click', function (e) {
        document.querySelector('#lat').value = e.latlng.lat;
        document.querySelector('#lng').value = e.latlng.lng;
        let new_cinema = L.marker([e.latlng.lat, e.latlng.lng]);
        new_cinema.addTo(mymap);
    });
</script>
