{{#contentFor 'head'}}
<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
<!-- My CSS -->
<link rel="stylesheet" href="/css/dashboard.css" />
{{/contentFor}}

<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="#">
                <i class="bx bxs-dashboard"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-shopping-bag-alt"></i>
                <span class="text">My Store</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-doughnut-chart"></i>
                <span class="text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-message-dots"></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-group"></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class="bx bxs-cog"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <i class="bx bxs-log-out-circle"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->

<form class='col-md-3 col-sm-3 col-xs-12 needs-validation' action='/cinemas/create' method='POST'>
    <div>
        <label>Nhà cung cấp</label>
        <select class='form-select' id='supplier' name='id_supplier' required>
            <option selected disabled value=''>Chọn nhà cung cấp</option>
            {{#each suppliers}}
            <option value='{{this._id}}'>{{this.name}}</option>
            {{/each}}
        </select>
        <div class='invalid-feedback'>
            Vui lòng chọn nhà cung cấp
        </div>
    </div>
    <div>
        <label>Tên rạp chiếu</label>
        <input type='text' class='form-control' name='name' placeholder='' required />
    </div>
    <div>
        <label>Địa chỉ</label>
        <input type='text' class='form-control' name='address' placeholder='' required />
    </div>
    <div>
        {{>district}}
    </div>
    <div>
        <label>Hotline</label>
        <input type='text' class='form-control' name='hotline' placeholder='' />
    </div>
    <div>
        <label>Vĩ độ</label>
        <input type='text' class='form-control' id='lat' name='lat' placeholder='' required />
    </div>
    <div>
        <label>Kinh độ</label>
        <input type='text' class='form-control' id='lng' name='lng' placeholder='' required />
    </div>

    <button type='submit' class='btn btn-primary'>Tạo mới</button>
</form>

<script src="/js/dashboard.js"></script>