{{>header}}
<main class="container">
    <div class="row mt-3">
        <div class="col-md-3 col-sm-4">
            <div class="movie-poster">
                <img src="/{{movie.image}}" alt="" />
            </div>
        </div>
        <div class="col-md-9 col-sm-8 d-flex flex-column movie-detail">
            <h1 class="movie-title">{{movie.name}}</h1>
            <p><label>Đạo diễn:</label> {{movie.director}}</p>
            <p><label>Diễn viên:</label> {{movie.cast}}</p>
            <p><label>Thời lượng:</label> {{movie.runtime}}</p>
            <p><label>Khởi chiếu:</label> {{movie.release_date}}</p>
            <p style="color: #ff71a5"><label>Thể loại:</label>{{movie.genre}}</p>
            <p><label>Ngôn ngữ:</label> {{movie.language}}</p>
            <p>
                <a class="btn-trailer" href="{{movie.trailer_link}}">
                    Trailer
                    <i class="fa-solid fa-play"></i>
                </a>
            </p>
        </div>
        <div class="mt-3"></div>
        <div class="col-md-7 col-sm-7 movie-description">
            <h2 class="movie-title-small">Nội dung phim {{movie.name}}</h2>
            <p>{{movie.description}}</p>
        </div>
        <div id="schedule" class="col-md-5 col-sm-5">
            <h2 class="movie-title-small">Lịch chiếu {{movie.name}}</h2>
            {{#each movieShowtimes}}
            <div class="movieshowtime">
                <h3 class="cinema">{{this.cinema.name}}</h3>
                <div class="pull-right">
                    <a class="btn" href="/img/Suppliers/{{this.cinema.supplier.image_ticket_price}}">
                        Giá vé</a>
                    <button class="btn buy-ticket" data-id-movie-showtime="{{this._id}}">Đặt vé</button>
                </div>
                <div class="address">{{this.cinema.address}}</div>
                <div class="detail">
                    <span><label for="">Ngày chiếu: </label>{{this.date}}</span><br />
                    <span><label for="">Giờ chiếu: </label>{{this.start_time}}</span>
                    <span><label for="">Số vé còn lại: </label>{{this.seats}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            {{/each}}
        </div>
    </div>
</main>


<div id="ticket-modal" style="display:none;">
    <form id="ticket-purchase-form">
        <input type="hidden" id="id_movie_showtime" name="id_movie_showtime">
        <label for="num-tickets">Số vé muốn mua:</label>
        <input type="number" id="num-tickets" name="numTickets" min="1" value="1" required>
        <br>
        <button type="submit">Mua</button>
        <button type="button" id="cancel-ticket">Hủy</button>
    </form>
</div>

{{>footer}}

<script>
    // Show the ticket purchase modal when the "Buy Ticket" button is clicked
    $(document).on('click', '.buy-ticket', function () {
        const ticketId = $(this).data('id-movie-showtime');
        $('#ticket-modal').data('id_movie_showtime', ticketId).show();
    });

    // Hide the ticket purchase modal when the "Cancel" button is clicked
    $(document).on('click', '#cancel-ticket', function () {
        $('#ticket-modal').hide();
    });

    // Handle form submission to purchase the selected tickets
    $(document).on('submit', '#ticket-purchase-form', function (event) {
        event.preventDefault();
        const idMovieShowtime = $('#ticket-modal').data('id_movie_showtime');
        const numTickets = $('#num-tickets').val();

        // Send an AJAX request to purchase the selected tickets
        $.ajax({
            method: 'POST',
            url: '/tickets/book',
            data: {
                idMovieShowtime,
                numberTickets: numTickets
            },
            success: function (response) {
                const { success } = response
                if (success) {
                    const { data } = response
                    const { message } = data
                    alert(message)
                }
                else {
                    const { message } = response
                    alert(message)
                }
            },
            error: function (error) {
                alert(error)
            }
        });

        $('#ticket-modal').hide();
    });
</script>