<header>
    <header class="header">
        <div class="container">
            <div class="d-flex align-items-center">
                <div>
                    <a href="/">
                        <img src="/img/logo.jpg" alt="logo" />
                    </a>
                </div>
                <div class="search mx-3">
                    <form action="#" class="d-flex" role="search">
                        <input type="search" name="data_search" placeholder="Nhập nội dung tìm kiếm " />
                        <button type="submit">
                            Tìm kiếm
                        </button>
                    </form>
                </div>
            </div>
            <nav class="navbar" style="margin-top: 15px">
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <p>Trang chủ</p>
                </a>
                <a href="#">
                    <i class="fa-regular fa-clock"></i>
                    <p>Lịch chiếu</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-film"></i>
                    <p>Đang chiếu</p>
                </a>
                <a href="#">
                    <i class="fa-regular fa-rectangle-list"></i>
                    <p>Rạp</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <p>Bản đồ</p>
                </a>
            </nav>
            </nav>
            <div class="login d-flex align-items-center">
                <a href="#" class="btn btn-outline-danger me-2" role="button">Đăng xuất</a>
                <a href="#" class="btn btn-primary btn" role="button">Đăng kí</a>
            </div>
    </header>