<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Trang quản lý</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/management">Trang quản lý</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class="bx bxs-group"></i>
            <span class="text">
                <h3>{{user}}</h3>
                <p>Người dùng mới</p>
            </span>
        </li>
        <li>
            <i class="bx bxs-calendar-check"></i>
            <span class="text">
                <h3>{{ticket}}</h3>
                <p>Số vé bán được trong tháng</p>
            </span>
        </li>
        <li>
            <i class="bx bxs-dollar-circle"></i>
            <span class="text">
                <h3>{{sumCoin}} VND</h3>
                <p>Thu nhập tháng</p>
            </span>
        </li>
    </ul>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Lịch sử giao dịch trên website</h3>
                <!-- <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i> -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>Lượng coin trước giao dịch</th>
                        <th>Lượng coin sau giao dịch</th>
                        <th>Nội dung</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                    <tr>
                        <td>{{this.user.email}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.old_coin}}</td>
                        <td>{{this.new_coin}}</td>
                        <td>{{this.message}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->