<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Trang quản lý</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Trang quản lý</a>
                </li>
                <li><i class="bx bx-chevron-right"></i></li>
                <li>
                    <a class="active" href="/cinemas/management">Quản lý Lịch chiếu phim</a>
                </li>
                <li><i class="bx bx-chevron-right"></i></li>
                <li>
                    <a class="active" href="">{{title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-7 needs-validation" action="/movie-showtimes/create" method="POST">
                <div>
                    <label>Phim</label>
                    <select class="form-select" id="movie" name="id_movie" required>
                        <option selected disabled value="">
                            Chọn phim
                        </option>
                        {{#each movies}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <label>Rạp chiếu phim</label>
                    <select class="form-select" id="cinema" name="id_cinema" required>
                        <option selected disabled value="">
                            Chọn rạp chiếu phim
                        </option>
                        {{#each cinemas}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <label>Ngày chiếu</label>
                    <input type="text" class="form-control" name="date" required />
                </div>
                <div>
                    <label>Giờ chiếu</label>
                    <input type="text" class="form-control" name="start_time" required />
                </div>
                <div>
                    <label>Số ghế ngồi</label>
                    <input type="text" class="form-control" name="seats" required />
                </div>

                <button type="submit" class="btn btn-primary">
                    Tạo mới
                </button>
            </form>
        </div>
    </div>
</main>
<!-- MAIN -->